body {
  font-family: Century Gothic;
  background-color: #f8f9fa;
  color: #495057;
  margin-top: 60px; /* Offset for fixed navbar */
}

.logo {
  width: 100px;
  height: 90px;
  border-radius: 50%;
  opacity: 0.8;
}

.logo:hover {
  opacity: 1;
}

.sidenav {
  background-color: #343a40; /* Updated navigation sidebar background color */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding-top: 20px;
  display: none;
  flex-direction: column;
  z-index: 1000;
  overflow-y: auto; /* Enable vertical scrolling for small screens */
}

.sidenav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
  font-weight: 700;
}

.sidenav a:hover {
  background-color: #575757;
}

.sidenav .closeMenu {
  font-size: 36px;
  color: red;
  text-align: right;
  margin-right: 16px;
  cursor: pointer;
}

.sidenav .footer-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #343a40;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  .sidenav {
      display: block;
  }
  .sidenav .footer-content {
      position: relative;
  }
}

section {
  margin-top: 60px;
}

.circled-figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: #4e5153; /* Adjust color as needed */
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px auto;
  border-radius: 10px;
}

.service-summary {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 2px solid #007bff;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

h1,
h2 {
  color: #007bff;
  padding-bottom: 10px;
  font-weight: bold;
}

h3 {
  color: #1dcc34;
  font-size: larger;
  font-weight: bold;
}

p em {
  color: hsl(8, 94%, 51%);
}

button {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  background-color: #906f04; /* Adjust button color as needed */
  color: white;
  border: none;
  border-radius: 20px;
  margin: 20px auto;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icons a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.5em;
}

.social-icons a:hover {
  color: #007bff;
}

.contact-icons {
  margin-top: 20px;
  text-align: left;
}

footer {
  background-color: #343a40; /* Updated footer background color */
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}